In [11]:
import numpy as np
import pandas as pd
from sklearn.cluster import KMeans
from sklearn.preprocessing import LabelEncoder, MinMaxScaler
from torch.utils.data import Dataset, DataLoader
import torch
import torch.nn as nn
from scipy.optimize import linear_sum_assignment

In [12]:
def cluster_accuracy(y_pred, y_true):
    # We need to map the labels to our cluster labels
    # This is a linear assignment problem on a bipartite graph
    k = max(len(np.unique(y_pred)), len(np.unique(y_pred)))
    cost_matrix = np.zeros((k, k))
    for i in range(y_pred.size):
        cost_matrix[y_pred[i], y_true[i]] += 1
    row_ind, col_ind = linear_sum_assignment(cost_matrix.max() - cost_matrix)
    return cost_matrix[row_ind, col_ind].sum() / y_pred.size

In [13]:
og_df = pd.read_csv("datasets/heart_disease_uci.csv")
og_df.drop(columns=["id", "dataset"], inplace=True)
og_df = og_df.drop(og_df[og_df["num"] == 0].sample(frac=0.3).index)
og_df # this df still has "num" -> the target

,age,sex,cp,trestbps,chol,fbs,restecg,thalch,exang,oldpeak,slope,ca,thal,num
0,63,Male,typical angina,145.0,233.0,True,lv hypertrophy,150.0,False,2.3,downsloping,0.0,fixed defect,0
1,67,Male,asymptomatic,160.0,286.0,False,lv hypertrophy,108.0,True,1.5,flat,3.0,normal,2
2,67,Male,asymptomatic,120.0,229.0,False,lv hypertrophy,129.0,True,2.6,flat,2.0,reversable defect,1
4,41,Female,atypical angina,130.0,204.0,False,lv hypertrophy,172.0,False,1.4,upsloping,0.0,normal,0
5,56,Male,atypical angina,120.0,236.0,False,normal,178.0,False,0.8,upsloping,0.0,normal,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
915,54,Female,asymptomatic,127.0,333.0,True,st-t abnormality,154.0,False,0.0,NaN,NaN,NaN,1
916,62,Male,typical angina,NaN,139.0,False,st-t abnormality,NaN,NaN,NaN,NaN,NaN,NaN,0
917,55,Male,asymptomatic,122.0,223.0,True,st-t abnormality,100.0,False,0.0,NaN,NaN,fixed defect,2
918,58,Male,asymptomatic,NaN,385.0,True,lv hypertrophy,NaN,NaN,NaN,NaN,NaN,NaN,0
919,62,Male,atypical angina,120.0,254.0,False,lv hypertrophy,93.0,True,0.0,NaN,NaN,NaN,1

In [14]:
categorial_columns = ["sex", "cp", "fbs", "restecg", "exang", "slope", "thal"]
cont_columns = ["age", "trestbps", "chol", "thalch", "oldpeak", "ca"]

In [15]:
df_min_max = og_df.copy()
df_min_max.drop(columns="num", inplace=True)
df_min_max[categorial_columns] = df_min_max[categorial_columns].apply(LabelEncoder().fit_transform)
df_min_max[categorial_columns] = MinMaxScaler().fit_transform(df_min_max[categorial_columns])
df_min_max[cont_columns] = MinMaxScaler().fit_transform(df_min_max[cont_columns])
df_min_max = df_min_max.fillna(df_min_max.mean())
df_min_max

,age,sex,cp,trestbps,chol,fbs,restecg,thalch,exang,oldpeak,slope,ca,thal
0,0.714286,1.0,1.000000,0.725000,0.386401,0.5,0.000000,0.633803,0.0,0.556818,0.000000,0.000000,0.000000
1,0.795918,1.0,0.000000,0.800000,0.474295,0.0,0.000000,0.338028,0.5,0.465909,0.333333,1.000000,0.333333
2,0.795918,1.0,0.000000,0.600000,0.379768,0.0,0.000000,0.485915,0.5,0.590909,0.333333,0.666667,0.666667
4,0.265306,0.0,0.333333,0.650000,0.338308,0.0,0.000000,0.788732,0.0,0.454545,0.666667,0.000000,0.333333
5,0.571429,1.0,0.333333,0.600000,0.391376,0.0,0.333333,0.830986,0.0,0.386364,0.666667,0.000000,0.333333
...,...,...,...,...,...,...,...,...,...,...,...,...,...
915,0.530612,0.0,0.000000,0.635000,0.552239,0.5,0.666667,0.661972,0.0,0.295455,1.000000,0.250965,1.000000
916,0.693878,1.0,1.000000,0.662167,0.230514,0.0,0.666667,0.534976,1.0,0.401954,1.000000,0.250965,1.000000
917,0.551020,1.0,0.000000,0.610000,0.369818,0.5,0.666667,0.281690,0.0,0.295455,1.000000,0.250965,0.000000
918,0.612245,1.0,0.000000,0.662167,0.638474,0.5,0.000000,0.534976,1.0,0.401954,1.000000,0.250965,1.000000
919,0.693878,1.0,0.333333,0.600000,0.421227,0.0,0.000000,0.232394,0.5,0.295455,1.000000,0.250965,1.000000

In [16]:
df_no_min_max = og_df.copy()
df_no_min_max.drop(columns="num", inplace=True)
df_no_min_max[categorial_columns] = df_no_min_max[categorial_columns].apply(LabelEncoder().fit_transform)
df_no_min_max = df_no_min_max.fillna(df_no_min_max.mean())
df_no_min_max

,age,sex,cp,trestbps,chol,fbs,restecg,thalch,exang,oldpeak,slope,ca,thal
0,63,1,3,145.000000,233.0,1,0,150.000000,0,2.300000,0,0.000000,0
1,67,1,0,160.000000,286.0,0,0,108.000000,1,1.500000,1,3.000000,1
2,67,1,0,120.000000,229.0,0,0,129.000000,1,2.600000,1,2.000000,2
4,41,0,1,130.000000,204.0,0,0,172.000000,0,1.400000,2,0.000000,1
5,56,1,1,120.000000,236.0,0,1,178.000000,0,0.800000,2,0.000000,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...
915,54,0,0,127.000000,333.0,1,2,154.000000,0,0.000000,3,0.752896,3
916,62,1,3,132.433378,139.0,0,2,135.966533,2,0.937197,3,0.752896,3
917,55,1,0,122.000000,223.0,1,2,100.000000,0,0.000000,3,0.752896,0
918,58,1,0,132.433378,385.0,1,0,135.966533,2,0.937197,3,0.752896,3
919,62,1,1,120.000000,254.0,0,0,93.000000,1,0.000000,3,0.752896,3

In [17]:
class HeartDiseaseDataset(Dataset):
    def __init__(self, df):
        self.cat = torch.tensor(df[categorial_columns].values, dtype=torch.float)
        self.cont = torch.tensor(df[cont_columns].values, dtype=torch.float)

    def __getitem__(self, idx):
        return self.cat[idx], self.cont[idx]

    def __len__(self):
        return self.cat.shape[0]

In [18]:
dataset = HeartDiseaseDataset(df_min_max)
dataloader = DataLoader(dataset, batch_size=100, shuffle=True)
len(dataset)

797

In [19]:
class AttentionModel(nn.Module):
    def __init__(self):
        super().__init__()
        self.encoder = torch.nn.Sequential(
            torch.nn.Linear(len(categorial_columns), 4),
            torch.nn.BatchNorm1d(4),
            torch.nn.Sigmoid(),
        )
        self.decoder = torch.nn.Sequential(
            torch.nn.Linear(4, len(categorial_columns)),
            torch.nn.BatchNorm1d(len(categorial_columns)),
            torch.nn.Sigmoid()
        )


    def forward(self, x):
        encoded = self.encoder(x)
        decoded = self.decoder(encoded)
        return decoded


epochs = 100
lr = 0.001

cat_to_cat_model = AttentionModel()

criterion = nn.MSELoss()
optimizer = torch.optim.Adam(cat_to_cat_model.parameters(), lr=lr)

for epoch in range(epochs):
    cat_to_cat_model.train()
    loss = 0

    for x_cat, x_cont in dataloader:
        optimizer.zero_grad()
        outputs = cat_to_cat_model(x_cat)
        train_loss = criterion(outputs,  x_cat)
        train_loss.backward()
        optimizer.step()
        loss += train_loss.item()

    loss = loss / len(dataloader)
    print("epoch: {}/{}, loss = {:.6f}".format(epoch + 1, epochs, loss))

epoch: 1/100, loss = 0.231357
epoch: 2/100, loss = 0.225349
epoch: 3/100, loss = 0.219602
epoch: 4/100, loss = 0.213550
epoch: 5/100, loss = 0.207836
epoch: 6/100, loss = 0.201204
epoch: 7/100, loss = 0.195041
epoch: 8/100, loss = 0.189490
epoch: 9/100, loss = 0.183136
epoch: 10/100, loss = 0.176824
epoch: 11/100, loss = 0.171027
epoch: 12/100, loss = 0.165380
epoch: 13/100, loss = 0.159775
epoch: 14/100, loss = 0.153783
epoch: 15/100, loss = 0.148985
epoch: 16/100, loss = 0.144423
epoch: 17/100, loss = 0.139752
epoch: 18/100, loss = 0.135295
epoch: 19/100, loss = 0.131508
epoch: 20/100, loss = 0.128018
epoch: 21/100, loss = 0.124904
epoch: 22/100, loss = 0.121903
epoch: 23/100, loss = 0.120029
epoch: 24/100, loss = 0.116785
epoch: 25/100, loss = 0.114716
epoch: 26/100, loss = 0.112960
epoch: 27/100, loss = 0.110561
epoch: 28/100, loss = 0.108649
epoch: 29/100, loss = 0.106696
epoch: 30/100, loss = 0.105089
epoch: 31/100, loss = 0.103834
epoch: 32/100, loss = 0.102069
epoch: 33/100, loss = 0.100736
epoch: 34/100, loss = 0.099083
epoch: 35/100, loss = 0.097566
epoch: 36/100, loss = 0.096508
epoch: 37/100, loss = 0.095200
epoch: 38/100, loss = 0.094329
epoch: 39/100, loss = 0.092679
epoch: 40/100, loss = 0.091542
epoch: 41/100, loss = 0.090408
epoch: 42/100, loss = 0.089346
epoch: 43/100, loss = 0.088320
epoch: 44/100, loss = 0.087555
epoch: 45/100, loss = 0.086188
epoch: 46/100, loss = 0.085045
epoch: 47/100, loss = 0.084180
epoch: 48/100, loss = 0.083210
epoch: 49/100, loss = 0.082337
epoch: 50/100, loss = 0.081793
epoch: 51/100, loss = 0.080494
epoch: 52/100, loss = 0.079796
epoch: 53/100, loss = 0.079073
epoch: 54/100, loss = 0.078461
epoch: 55/100, loss = 0.077838
epoch: 56/100, loss = 0.076979
epoch: 57/100, loss = 0.076165
epoch: 58/100, loss = 0.075273
epoch: 59/100, loss = 0.074707
epoch: 60/100, loss = 0.074358
epoch: 61/100, loss = 0.073600
epoch: 62/100, loss = 0.072825
epoch: 63/100, loss = 0.072364
epoch: 64/100, loss = 0.072076
epoch: 65/100, loss = 0.071426
epoch: 66/100, loss = 0.070541
epoch: 67/100, loss = 0.070033
epoch: 68/100, loss = 0.069178
epoch: 69/100, loss = 0.068752
epoch: 70/100, loss = 0.068514
epoch: 71/100, loss = 0.068008
epoch: 72/100, loss = 0.067365
epoch: 73/100, loss = 0.066842
epoch: 74/100, loss = 0.066240
epoch: 75/100, loss = 0.066091
epoch: 76/100, loss = 0.065478
epoch: 77/100, loss = 0.064716
epoch: 78/100, loss = 0.064345
epoch: 79/100, loss = 0.064062
epoch: 80/100, loss = 0.063591
epoch: 81/100, loss = 0.063056
epoch: 82/100, loss = 0.062425
epoch: 83/100, loss = 0.062328
epoch: 84/100, loss = 0.061995
epoch: 85/100, loss = 0.061400
epoch: 86/100, loss = 0.060906
epoch: 87/100, loss = 0.060662
epoch: 88/100, loss = 0.060335
epoch: 89/100, loss = 0.059573
epoch: 90/100, loss = 0.058944
epoch: 91/100, loss = 0.058239
epoch: 92/100, loss = 0.058105
epoch: 93/100, loss = 0.057676
epoch: 94/100, loss = 0.057506
epoch: 95/100, loss = 0.056709
epoch: 96/100, loss = 0.056532
epoch: 97/100, loss = 0.055725
epoch: 98/100, loss = 0.055470
epoch: 99/100, loss = 0.054998
epoch: 100/100, loss = 0.054369