In [11]:
import gower
from sklearn.cluster import AgglomerativeClustering
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from collections import Counter

In [12]:
df = pd.read_csv("datasets/car_insurance_claim.csv")

# convert numerical-object to numericals
for col in ['INCOME','HOME_VAL','BLUEBOOK','OLDCLAIM', 'CLM_AMT',]:
    df[col] = df[col].replace("[^.0-9]", "", regex=True).astype(float).fillna(0.0)

# clean textual classes
for col in df.select_dtypes(include='object').columns:
    df[col] = df[col].str.upper().replace("Z_", "", regex=True).replace("[^A-Z]", "", regex=True)

data_types = {f:t for f,t in zip(df.columns,df.dtypes)}
df

,ID,KIDSDRIV,BIRTH,AGE,HOMEKIDS,YOJ,INCOME,PARENT1,HOME_VAL,MSTATUS,...,CAR_TYPE,RED_CAR,OLDCLAIM,CLM_FREQ,REVOKED,MVR_PTS,CLM_AMT,CAR_AGE,CLAIM_FLAG,URBANICITY
0,63581743,0,MAR,60.0,0,11.0,67349.0,NO,0.0,NO,...,MINIVAN,YES,4461.0,2,NO,3,0.0,18.0,0,HIGHLYURBANURBAN
1,132761049,0,JAN,43.0,0,11.0,91449.0,NO,257252.0,NO,...,MINIVAN,YES,0.0,0,NO,0,0.0,1.0,0,HIGHLYURBANURBAN
2,921317019,0,NOV,48.0,0,11.0,52881.0,NO,0.0,NO,...,VAN,YES,0.0,0,NO,2,0.0,10.0,0,HIGHLYURBANURBAN
3,727598473,0,MAR,35.0,1,10.0,16039.0,NO,124191.0,YES,...,SUV,NO,38690.0,2,NO,3,0.0,10.0,0,HIGHLYURBANURBAN
4,450221861,0,JUN,51.0,0,14.0,0.0,NO,306251.0,YES,...,MINIVAN,YES,0.0,0,NO,0,0.0,6.0,0,HIGHLYURBANURBAN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10297,67790126,1,AUG,45.0,2,9.0,164669.0,NO,386273.0,YES,...,MINIVAN,NO,0.0,0,NO,2,0.0,17.0,0,HIGHLYURBANURBAN
10298,61970712,0,JUN,46.0,0,9.0,107204.0,NO,332591.0,YES,...,PANELTRUCK,NO,0.0,0,NO,0,0.0,1.0,0,HIGHLYURBANURBAN
10299,849208064,0,JUN,48.0,0,15.0,39837.0,NO,170611.0,YES,...,SUV,NO,0.0,0,NO,0,0.0,1.0,0,HIGHLYURBANURBAN
10300,627828331,0,DEC,50.0,0,7.0,43445.0,NO,149248.0,YES,...,MINIVAN,NO,0.0,0,NO,0,0.0,11.0,0,HIGHLYURBANURBAN
10301,680381960,0,FEB,52.0,0,11.0,53235.0,NO,197017.0,YES,...,MINIVAN,NO,0.0,0,NO,0,0.0,9.0,0,HIGHLYRURALRURAL