In [24]:
import numpy as np
import pandas as pd
from sklearn.cluster import KMeans, AgglomerativeClustering
from sklearn.metrics import normalized_mutual_info_score
from sklearn.preprocessing import LabelEncoder, MinMaxScaler
from torch.utils.data import Dataset, DataLoader
import torch
import torch.nn as nn
import torch.nn.functional as F
from scipy.optimize import linear_sum_assignment
from gower_duped import gower_matrix as gower_matrix_duped

In [25]:
def cluster_accuracy(y_pred, y_true):
    # We need to map the labels to our cluster labels
    # This is a linear assignment problem on a bipartite graph
    k = max(len(np.unique(y_pred)), len(np.unique(y_pred)))
    cost_matrix = np.zeros((k, k))
    for i in range(y_pred.size):
        cost_matrix[y_pred[i], y_true[i]] += 1
    row_ind, col_ind = linear_sum_assignment(cost_matrix.max() - cost_matrix)
    return cost_matrix[row_ind, col_ind].sum() / y_pred.size

In [26]:
og_df = pd.read_csv("datasets/census_income.csv")
og_df

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,class
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
48837,39,Private,215419,Bachelors,13,Divorced,Prof-specialty,Not-in-family,White,Female,0,0,36,United-States,<=50K.
48838,64,?,321403,HS-grad,9,Widowed,?,Other-relative,Black,Male,0,0,40,United-States,<=50K.
48839,38,Private,374983,Bachelors,13,Married-civ-spouse,Prof-specialty,Husband,White,Male,0,0,50,United-States,<=50K.
48840,44,Private,83891,Bachelors,13,Divorced,Adm-clerical,Own-child,Asian-Pac-Islander,Male,5455,0,40,United-States,<=50K.
48841,35,Self-emp-inc,182148,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,60,United-States,>50K.

In [27]:
og_df.loc[(og_df["class"] == " <=50K.") | (og_df["class"] == " <=50K"), "class"] = 0
og_df.loc[(og_df["class"] == " >50K.") | (og_df["class"] == " >50K"), "class"] = 1
# Probability of most common class
og_df["class"].value_counts().max()/og_df["class"].count()

0.7607182343065395

In [28]:
cat_cols = ["workclass", "education", "marital-status", "occupation", "relationship", "race", "sex", "native-country"]
cont_cols = ["age", "fnlwgt", "education-num", "capital-gain", "capital-loss", "hours-per-week"]

In [29]:
df = og_df.copy()
df.drop(columns="class", inplace=True)
df[cat_cols] = df[cat_cols].apply(LabelEncoder().fit_transform)
df[cont_cols] = MinMaxScaler().fit_transform(df[cont_cols])
df

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country
0,0.301370,7,0.044131,9,0.800000,4,1,1,4,1,0.021740,0.0,0.397959,39
1,0.452055,6,0.048052,9,0.800000,2,4,0,4,1,0.000000,0.0,0.122449,39
2,0.287671,4,0.137581,11,0.533333,0,6,1,4,1,0.000000,0.0,0.397959,39
3,0.493151,4,0.150486,1,0.400000,2,6,0,2,1,0.000000,0.0,0.397959,39
4,0.150685,4,0.220635,9,0.800000,2,10,5,2,0,0.000000,0.0,0.397959,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
48837,0.301370,4,0.137428,9,0.800000,0,10,1,4,0,0.000000,0.0,0.357143,39
48838,0.643836,0,0.209130,11,0.533333,6,0,2,2,1,0.000000,0.0,0.397959,39
48839,0.287671,4,0.245379,9,0.800000,2,10,0,4,1,0.000000,0.0,0.500000,39
48840,0.369863,4,0.048444,9,0.800000,0,1,3,1,1,0.054551,0.0,0.397959,39
48841,0.246575,5,0.114919,9,0.800000,2,4,0,4,1,0.000000,0.0,0.602041,39

In [30]:
def encode_feature(df, feature_to_encode):
    dummies = pd.get_dummies(df[[feature_to_encode]], dtype=float)
    result_df = pd.concat([df, dummies], axis=1)
    result_df.drop(columns=feature_to_encode, inplace=True)
    return result_df

df_one_hot = og_df.copy()
df_one_hot.drop(columns="class", inplace=True)
df_one_hot[cont_cols] = MinMaxScaler().fit_transform(df_one_hot[cont_cols])
for col in cat_cols:
    df_one_hot = encode_feature(df_one_hot, col)
df_one_hot

,age,fnlwgt,education-num,capital-gain,capital-loss,hours-per-week,workclass_ ?,workclass_ Federal-gov,workclass_ Local-gov,workclass_ Never-worked,...,native-country_ Portugal,native-country_ Puerto-Rico,native-country_ Scotland,native-country_ South,native-country_ Taiwan,native-country_ Thailand,native-country_ Trinadad&Tobago,native-country_ United-States,native-country_ Vietnam,native-country_ Yugoslavia
0,0.301370,0.044131,0.800000,0.021740,0.0,0.397959,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
1,0.452055,0.048052,0.800000,0.000000,0.0,0.122449,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
2,0.287671,0.137581,0.533333,0.000000,0.0,0.397959,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
3,0.493151,0.150486,0.400000,0.000000,0.0,0.397959,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
4,0.150685,0.220635,0.800000,0.000000,0.0,0.397959,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
48837,0.301370,0.137428,0.800000,0.000000,0.0,0.357143,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
48838,0.643836,0.209130,0.533333,0.000000,0.0,0.397959,1.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
48839,0.287671,0.245379,0.800000,0.000000,0.0,0.500000,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
48840,0.369863,0.048444,0.800000,0.054551,0.0,0.397959,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
48841,0.246575,0.114919,0.800000,0.000000,0.0,0.602041,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0

In [31]:
kmeans = KMeans(n_clusters=2, n_init="auto", random_state=0).fit(df_one_hot)
kmeans_acc = cluster_accuracy(kmeans.labels_, og_df["class"].to_numpy())
kmeans_acc

0.7165758977928832

In [32]:
kmeans_nmi = normalized_mutual_info_score(og_df["class"].to_numpy(), kmeans.labels_)
kmeans_nmi

0.1325918200579342

In [33]:
# no_target_df = og_df.drop(columns="class")
# distance_matrix = gower_matrix_duped(no_target_df)
# distance_matrix

In [34]:
# gower_agglo = AgglomerativeClustering(n_clusters=2, metric="precomputed", linkage="single").fit_predict(distance_matrix)
# gower_agglo_acc = cluster_accuracy(gower_agglo, og_df["class"].to_numpy())
# gower_agglo_acc
# linkage=average: 0.7602882764833545
# linkage=single: 0.760697760124483

In [35]:
# gower_agglo_nmi = normalized_mutual_info_score(og_df["class"].to_numpy(), gower_agglo)
# gower_agglo_nmi

In [36]:
embedding_sizes = [(df[col].nunique(), min(50, max(2, (df[col].nunique()+1) // 2))) for col in df[cat_cols]]
embedding_sizes

[(9, 5), (16, 8), (7, 4), (15, 8), (6, 3), (5, 3), (2, 2), (42, 21)]

In [37]:
class CensusIncomeDataset(Dataset):
    def __init__(self, df):
        self.cat = torch.tensor(df[cat_cols].values, dtype=torch.float)
        self.cont = torch.tensor(df[cont_cols].values, dtype=torch.float)

    def __getitem__(self, idx):
        return self.cat[idx], self.cont[idx]

    def __len__(self):
        return self.cat.shape[0]
    
dataset = CensusIncomeDataset(df)
dataloader = DataLoader(dataset, batch_size=512, shuffle=True)
len(dataset)

48842

In [38]:
class AttentionModelDecoderOnlyCat(nn.Module):
    def __init__(self):
        super().__init__()
        self.embeddings = nn.ModuleList([nn.Embedding(num, dim) for num, dim in embedding_sizes])
        n_emb = sum(e.embedding_dim for e in self.embeddings)
        in_dim = n_emb + len(cont_cols)
        self.encoder = torch.nn.Sequential(
            torch.nn.Linear(in_dim, 32),
            torch.nn.BatchNorm1d(32),
            torch.nn.ReLU(),
            torch.nn.Linear(32, 16),
            torch.nn.BatchNorm1d(16),
            torch.nn.ReLU(),
            torch.nn.Linear(16, 8),
            torch.nn.BatchNorm1d(8),
            torch.nn.Sigmoid(),
        )
        self.decoder = torch.nn.Sequential(
            torch.nn.Linear(8, 16),
            torch.nn.ReLU(),
            torch.nn.Linear(16, 32),
            torch.nn.ReLU(),
            torch.nn.Linear(32, n_emb),
            torch.nn.Sigmoid()
        )


    def encode(self, x_cat, x_cont):
        x_cat = x_cat.to(torch.long)
        embedded = torch.cat([e(x_cat[:, i]) for i, e in enumerate(self.embeddings)], 1)
        self.last_target = embedded.clone().detach()

        qkv = torch.cat((embedded, x_cont), 1)
        x = F.scaled_dot_product_attention(qkv, qkv, qkv)
        encoded = self.encoder(x)
        return encoded

    def forward(self, x_cat, x_cont):
        encoded = self.encode(x_cat, x_cont)
        decoded = self.decoder(encoded)
        return decoded


epochs = 100
lr = 0.001

model = AttentionModelDecoderOnlyCat()

criterion = nn.MSELoss()
optimizer = torch.optim.Adam(model.parameters(), lr=lr)

for epoch in range(epochs):
    model.train()
    loss = 0

    for x_cat, x_cont in dataloader:
        optimizer.zero_grad()
        outputs = model(x_cat, x_cont)
        train_loss = criterion(outputs, model.last_target)
        train_loss.backward()
        optimizer.step()
        loss += train_loss.item()

    loss = loss / len(dataloader)
    print("epoch: {}/{}, loss = {:.6f}".format(epoch + 1, epochs, loss))

epoch: 1/100, loss = 0.877130
epoch: 2/100, loss = 0.604075
epoch: 3/100, loss = 0.574528
epoch: 4/100, loss = 0.552456
epoch: 5/100, loss = 0.531077
epoch: 6/100, loss = 0.513807
epoch: 7/100, loss = 0.486766
epoch: 8/100, loss = 0.455893
epoch: 9/100, loss = 0.436293
epoch: 10/100, loss = 0.427778
epoch: 11/100, loss = 0.420987
epoch: 12/100, loss = 0.414452
epoch: 13/100, loss = 0.410343
epoch: 14/100, loss = 0.406055
epoch: 15/100, loss = 0.403028
epoch: 16/100, loss = 0.399987
epoch: 17/100, loss = 0.397938
epoch: 18/100, loss = 0.396382
epoch: 19/100, loss = 0.394773
epoch: 20/100, loss = 0.394064
epoch: 21/100, loss = 0.393135
epoch: 22/100, loss = 0.392202
epoch: 23/100, loss = 0.391937
epoch: 24/100, loss = 0.392086
epoch: 25/100, loss = 0.393049
epoch: 26/100, loss = 0.394932
epoch: 27/100, loss = 0.397575
epoch: 28/100, loss = 0.400191
epoch: 29/100, loss = 0.402559
epoch: 30/100, loss = 0.403377
epoch: 31/100, loss = 0.401913
epoch: 32/100, loss = 0.397848
epoch: 33/100, loss = 0.397073
epoch: 34/100, loss = 0.396466
epoch: 35/100, loss = 0.395655
epoch: 36/100, loss = 0.396032
epoch: 37/100, loss = 0.396093
epoch: 38/100, loss = 0.395306
epoch: 39/100, loss = 0.394793
epoch: 40/100, loss = 0.394012
epoch: 41/100, loss = 0.392330
epoch: 42/100, loss = 0.392270
epoch: 43/100, loss = 0.391888
epoch: 44/100, loss = 0.391502
epoch: 45/100, loss = 0.391233
epoch: 46/100, loss = 0.391428
epoch: 47/100, loss = 0.391631
epoch: 48/100, loss = 0.391984
epoch: 49/100, loss = 0.392594
epoch: 50/100, loss = 0.392955
epoch: 51/100, loss = 0.392947
epoch: 52/100, loss = 0.393481
epoch: 53/100, loss = 0.393978
epoch: 54/100, loss = 0.394806
epoch: 55/100, loss = 0.395457
epoch: 56/100, loss = 0.396364
epoch: 57/100, loss = 0.397302
epoch: 58/100, loss = 0.397432
epoch: 59/100, loss = 0.397687
epoch: 60/100, loss = 0.398539
epoch: 61/100, loss = 0.399892
epoch: 62/100, loss = 0.401024
epoch: 63/100, loss = 0.401611
epoch: 64/100, loss = 0.402075
epoch: 65/100, loss = 0.402483
epoch: 66/100, loss = 0.402766
epoch: 67/100, loss = 0.403372
epoch: 68/100, loss = 0.403925
epoch: 69/100, loss = 0.404452
epoch: 70/100, loss = 0.405749
epoch: 71/100, loss = 0.406439
epoch: 72/100, loss = 0.407412
epoch: 73/100, loss = 0.408257
epoch: 74/100, loss = 0.409027
epoch: 75/100, loss = 0.409827
epoch: 76/100, loss = 0.410644
epoch: 77/100, loss = 0.410689
epoch: 78/100, loss = 0.412173
epoch: 79/100, loss = 0.413225
epoch: 80/100, loss = 0.413554
epoch: 81/100, loss = 0.414426
epoch: 82/100, loss = 0.415401
epoch: 83/100, loss = 0.416938
epoch: 84/100, loss = 0.417604
epoch: 85/100, loss = 0.418338
epoch: 86/100, loss = 0.419095
epoch: 87/100, loss = 0.419819
epoch: 88/100, loss = 0.420532
epoch: 89/100, loss = 0.421766
epoch: 90/100, loss = 0.422618
epoch: 91/100, loss = 0.423498
epoch: 92/100, loss = 0.424205
epoch: 93/100, loss = 0.425488
epoch: 94/100, loss = 0.426743
epoch: 95/100, loss = 0.427142
epoch: 96/100, loss = 0.428349
epoch: 97/100, loss = 0.429677
epoch: 98/100, loss = 0.430765
epoch: 99/100, loss = 0.432811
epoch: 100/100, loss = 0.434149

In [39]:
cat = torch.tensor(df[cat_cols].values, dtype=torch.float)
cont = torch.tensor(df[cont_cols].values, dtype=torch.float)
cat_features = model.encode(cat, cont).detach().numpy()
features = np.concatenate((cat_features, df[cont_cols].values), 1)
features

array([[0.85494751, 0.94251174, 0.16518661, ..., 0.02174022, 0.        ,
        0.39795918],
       [0.84306568, 0.03665686, 0.42526764, ..., 0.        , 0.        ,
        0.12244898],
       [0.11221159, 0.8301397 , 0.31617841, ..., 0.        , 0.        ,
        0.39795918],
       ...,
       [0.86946476, 0.04501979, 0.3015568 , ..., 0.        , 0.        ,
        0.5       ],
       [0.87331426, 0.77441919, 0.2433614 , ..., 0.05455055, 0.        ,
        0.39795918],
       [0.8950839 , 0.04445706, 0.6727984 , ..., 0.        , 0.        ,
        0.60204082]])

In [40]:
kmeans = KMeans(n_clusters=2, n_init="auto", random_state=0).fit(features)
deep_acc = cluster_accuracy(kmeans.labels_, og_df["class"].to_numpy())
deep_acc

0.6677040252241923

In [41]:
deep_nmi = normalized_mutual_info_score(og_df["class"].to_numpy(), kmeans.labels_)
deep_nmi

0.08647618787878508

In [42]:
class AttentionModelDecoderAllCols(nn.Module):
    def __init__(self):
        super().__init__()
        self.embeddings = nn.ModuleList([nn.Embedding(num, dim) for num, dim in embedding_sizes])
        n_emb = sum(e.embedding_dim for e in self.embeddings)
        in_dim = n_emb + len(cont_cols)
        self.encoder = torch.nn.Sequential(
            torch.nn.Linear(in_dim, 32),
            torch.nn.BatchNorm1d(32),
            torch.nn.ReLU(),
            torch.nn.Linear(32, 16),
            torch.nn.BatchNorm1d(16),
            torch.nn.ReLU(),
            torch.nn.Linear(16, 8),
            torch.nn.BatchNorm1d(8),
            torch.nn.Sigmoid(),
        )
        self.decoder = torch.nn.Sequential(
            torch.nn.Linear(8, 16),
            torch.nn.ReLU(),
            torch.nn.Linear(16, 32),
            torch.nn.ReLU(),
            torch.nn.Linear(32, in_dim),
            torch.nn.Sigmoid()
        )


    def encode(self, x_cat, x_cont):
        x_cat = x_cat.to(torch.long)
        embedded = torch.cat([e(x_cat[:, i]) for i, e in enumerate(self.embeddings)], 1)
        self.last_target = embedded.clone().detach()

        qkv = torch.cat((embedded, x_cont), 1)
        x = F.scaled_dot_product_attention(qkv, qkv, qkv)
        encoded = self.encoder(x)
        return encoded

    def forward(self, x_cat, x_cont):
        encoded = self.encode(x_cat, x_cont)
        decoded = self.decoder(encoded)
        return decoded


epochs = 100
lr = 0.001

all_cols_model = AttentionModelDecoderAllCols()

criterion = nn.MSELoss()
optimizer = torch.optim.Adam(all_cols_model.parameters(), lr=lr)

for epoch in range(epochs):
    all_cols_model.train()
    loss = 0

    for x_cat, x_cont in dataloader:
        optimizer.zero_grad()
        outputs = all_cols_model(x_cat, x_cont)
        train_loss = criterion(outputs, torch.cat((all_cols_model.last_target, x_cont), 1))
        train_loss.backward()
        optimizer.step()
        loss += train_loss.item()

    loss = loss / len(dataloader)
    print("epoch: {}/{}, loss = {:.6f}".format(epoch + 1, epochs, loss))

epoch: 1/100, loss = 1.139552
epoch: 2/100, loss = 0.866271
epoch: 3/100, loss = 0.821793
epoch: 4/100, loss = 0.799370
epoch: 5/100, loss = 0.777468
epoch: 6/100, loss = 0.740899
epoch: 7/100, loss = 0.703400
epoch: 8/100, loss = 0.676251
epoch: 9/100, loss = 0.655495
epoch: 10/100, loss = 0.638118
epoch: 11/100, loss = 0.622059
epoch: 12/100, loss = 0.609821
epoch: 13/100, loss = 0.597719
epoch: 14/100, loss = 0.586438
epoch: 15/100, loss = 0.573809
epoch: 16/100, loss = 0.563828
epoch: 17/100, loss = 0.555599
epoch: 18/100, loss = 0.549672
epoch: 19/100, loss = 0.545796
epoch: 20/100, loss = 0.542190
epoch: 21/100, loss = 0.539683
epoch: 22/100, loss = 0.535772
epoch: 23/100, loss = 0.533745
epoch: 24/100, loss = 0.531797
epoch: 25/100, loss = 0.530744
epoch: 26/100, loss = 0.530430
epoch: 27/100, loss = 0.528593
epoch: 28/100, loss = 0.526576
epoch: 29/100, loss = 0.525135
epoch: 30/100, loss = 0.523559
epoch: 31/100, loss = 0.522353
epoch: 32/100, loss = 0.521910
epoch: 33/100, loss = 0.520373
epoch: 34/100, loss = 0.519539
epoch: 35/100, loss = 0.519168
epoch: 36/100, loss = 0.519227
epoch: 37/100, loss = 0.517814
epoch: 38/100, loss = 0.517995
epoch: 39/100, loss = 0.518338
epoch: 40/100, loss = 0.519065
epoch: 41/100, loss = 0.519493
epoch: 42/100, loss = 0.519926
epoch: 43/100, loss = 0.520838
epoch: 44/100, loss = 0.521369
epoch: 45/100, loss = 0.521715
epoch: 46/100, loss = 0.523136
epoch: 47/100, loss = 0.522155
epoch: 48/100, loss = 0.522434
epoch: 49/100, loss = 0.522950
epoch: 50/100, loss = 0.523771
epoch: 51/100, loss = 0.524291
epoch: 52/100, loss = 0.523411
epoch: 53/100, loss = 0.525135
epoch: 54/100, loss = 0.526919
epoch: 55/100, loss = 0.528480
epoch: 56/100, loss = 0.529577
epoch: 57/100, loss = 0.529410
epoch: 58/100, loss = 0.529718
epoch: 59/100, loss = 0.530799
epoch: 60/100, loss = 0.531666
epoch: 61/100, loss = 0.532227
epoch: 62/100, loss = 0.533506
epoch: 63/100, loss = 0.534808
epoch: 64/100, loss = 0.535493
epoch: 65/100, loss = 0.536068
epoch: 66/100, loss = 0.535887
epoch: 67/100, loss = 0.536867
epoch: 68/100, loss = 0.537636
epoch: 69/100, loss = 0.539043
epoch: 70/100, loss = 0.538751
epoch: 71/100, loss = 0.539764
epoch: 72/100, loss = 0.540547
epoch: 73/100, loss = 0.542270
epoch: 74/100, loss = 0.542884
epoch: 75/100, loss = 0.543701
epoch: 76/100, loss = 0.544387
epoch: 77/100, loss = 0.545169
epoch: 78/100, loss = 0.546536
epoch: 79/100, loss = 0.547202
epoch: 80/100, loss = 0.548808
epoch: 81/100, loss = 0.550933
epoch: 82/100, loss = 0.551371
epoch: 83/100, loss = 0.553503
epoch: 84/100, loss = 0.554130
epoch: 85/100, loss = 0.555365
epoch: 86/100, loss = 0.557102
epoch: 87/100, loss = 0.556959
epoch: 88/100, loss = 0.558135
epoch: 89/100, loss = 0.559866
epoch: 90/100, loss = 0.562435
epoch: 91/100, loss = 0.563349
epoch: 92/100, loss = 0.565382
epoch: 93/100, loss = 0.566955
epoch: 94/100, loss = 0.566788
epoch: 95/100, loss = 0.568873
epoch: 96/100, loss = 0.570742
epoch: 97/100, loss = 0.571391
epoch: 98/100, loss = 0.572943
epoch: 99/100, loss = 0.575244
epoch: 100/100, loss = 0.575418

In [43]:
cat = torch.tensor(df[cat_cols].values, dtype=torch.float)
cont = torch.tensor(df[cont_cols].values, dtype=torch.float)
decoder_all_cols_features = all_cols_model.encode(cat, cont).detach().numpy()
decoder_all_cols_features

array([[0.94522315, 0.18745   , 0.7496655 , ..., 0.926956  , 0.73959196,
        0.99683136],
       [0.9870445 , 0.05297403, 0.22871901, ..., 0.4084474 , 0.01855831,
        0.9575082 ],
       [0.0382531 , 0.5314856 , 0.90828824, ..., 0.69764507, 0.66231346,
        0.01178148],
       ...,
       [0.6658559 , 0.5523463 , 0.8665732 , ..., 0.7398805 , 0.09992711,
        0.9698183 ],
       [0.4806827 , 0.31868738, 0.93334615, ..., 0.6029834 , 0.4110806 ,
        0.95378566],
       [0.99550086, 0.03021652, 0.14750136, ..., 0.39120314, 0.02528557,
        0.9745515 ]], dtype=float32)

In [44]:
all_cols_kmeans = KMeans(n_clusters=2, n_init="auto", random_state=0).fit(decoder_all_cols_features)
all_cols_acc = cluster_accuracy(all_cols_kmeans.labels_, og_df["class"].to_numpy())
all_cols_acc

0.6294582531427869

In [45]:
all_cols_nmi = normalized_mutual_info_score(og_df["class"].to_numpy(), all_cols_kmeans.labels_)
all_cols_nmi

0.06302645856213651

In [46]:
pd.DataFrame([[kmeans_acc, kmeans_nmi], [0.760697760124483, 0.000023], [deep_acc, deep_nmi], [all_cols_acc, all_cols_nmi]], index=["KMeans", "Gower + Agglomerative", "Deep Attention KMeans, only Cat Cols reconstructed in Decoder", "Deep Attention KMeans, all Cols reconstructed in Decoder"], columns=["Accuracy", "NMI"])

                                                    Accuracy       NMI
KMeans                                              0.716576  0.132592
Gower + Agglomerative                               0.760698  0.000023
Deep Attention KMeans, only Cat Cols reconstruc...  0.667704  0.086476
Deep Attention KMeans, all Cols reconstructed i...  0.629458  0.063026